img{
    width:480px;
   
}

.drift{
    display:none;
}

.water{
    display:none;
}

.tureno{
    display:none;
}

.eighty-six{
    display:none;
}

.tofu{
    display:none;
}

.akina{
    display:none;
}

.waterbtn{
    display:none;
}